

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1550bd;
    color: rgba(255, 255, 255, 0.925);
    padding: 0;
    margin:0;
}

nav {
    font-size: larger;
    justify-content: space-between;
    display: flex;
    padding: 30px;
    align-items: center;
    margin: auto;
    padding: auto;
}

.nav-title h1,.nav-header-buttons,.nav-title{
    margin:auto;
    padding:0;
}
.nav-title a{
    left: 10px;
    margin:  0;
    padding: 30px 15px;
    transition: background-color 0.3s;
    text-decoration: none;
    align-items: center;
    color: rgba(245, 245, 245, 0.945);
    
}
.nav-header-buttons a {

    align-items: center;
    color: white;
    text-decoration: none;
    margin:  0;
    padding: 30px 15px;
    border: none;
    transition: background-color 0.3s;
}

.connection a{
    right: 5px;
    align-items: center;
    color: white;
    text-decoration: none;
    margin:  10px;
    padding: 30px 7px;
    background-color: #1550bd;
    border: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2020ff;
}
.nav-title a:hover{
    background-color: #2020ff;
}
#container{
    flex: 1;
}
	
footer {
	margin:0px;
	padding:0px;
    background-color: #537FE7;
    color: rgba(188, 207, 214, 0.925);
	width: 100%;
	display:flex;
	align-items:center;
	justify-content: space-between;
}

/* #div-image-univsmb{

}	 */
	
#image-univsmb{
	height:9%;	
	
}

#div_droits{
	display:flex;
	flex-direction:column;
	justify-content: center;
	text-align:center;
}