body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1550bd;
    color: rgba(255, 255, 255, 0.925);
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-title {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.nav-header-buttons{
    flex: 2;
    display: flex;
    justify-content: center;
}

.connection{
    flex: 1;
    text-align: right;
}

.nav-title a, .nav-header-buttons a, .connection a{
    color: white;
    text-decoration: none;
    padding: 30px;
    transition: background-color 0.3s;
    font-size: 1.4em;
}

.nav-title a:hover, .nav-header-buttons a:hover, .connection a:hover{
    background-color: #2020ff;
}

#container{
    flex: 1;
}
	
footer {
	margin:0px;
	padding:0px;
    background-color: #537FE7;
    color: rgba(188, 207, 214, 0.925);
	width: 100%;
	display:flex;
	align-items:center;
	justify-content: space-between;
}

	
#image-univsmb{
	height:9%;	
	
}

#div_droits{
	display:flex;
	flex-direction:column;
	justify-content: center;
	text-align:center;
}

.error-not-creator{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.error-not-creator-text{
    display: flex;
    justify-content: center;
    background-color: #ffebee;
    color: #cb3131;
    border-left: 5px solid red;
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    text-align: center;
}

.error-not-creator strong{
    font-weight: 700;
    margin-right: 10px;
}

textarea{
    resize: none;
}

.error_message {
    background-color: #ffeaed;
    color: red;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.95em;
}

.success_message {
    background-color: #e5f6e7;
    color: green;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.95em;
}

.container-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

