#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container p {
    font-family: 'Bizarre', sans-serif;
    font-size: 1.4em;
}

#oups-error {
    color: red;
}

#text-container {
    border: none;
    border-radius: 10px;
    background-color: #E9F8F9;
    text-align: center;
    padding: 20px;
    opacity: 0.8;
    max-width: 350px;
    box-shadow: 0 3px 10px #537fe7;
}