#bonjour_pannel {
	border: solid 3px #0818A8;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px;
    width: 100%;
	text-align: center;
}
#container{
	flex:1;
	display:flex;
	flex-direction: column;
    align-items: center;
}
.user_section{
	display:flex;
	flex-direction:column;
	align-items:center;
}
#bloc-fin-session{
	margin-bottom:20px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.bouton_deconnexion{
	font:1.2rem "Fira Sans",sans-serif;
	border-radius:10px;
	border-color:black;
	background-color:#FFFFFF;
	height:30px;
	width:200px;
	transition: background-color,height,width 0.3s;
}

.bouton_deconnexion:hover{
	background-color:#1550bd;
	color:white;
	height:30px;
	width:215px;
	border-color:blue;
}

.bouton_delet_user{
	font:1.2rem "Fira Sans",sans-serif;
	border-radius:10px;
	border-color:black;
	background-color:#FFFFFF;
	height:30px;
	width:150px;
	transition: background-color,height,width 0.3s;
}

.bouton_delet_user:hover{
	background-color:#FF3333;
	color:#7F0000;
	height:30px;
	width:175px;
	border-color:red;
}

/*#E5E5FF*/
/*#74D0F1*/
/*#B8CAEB*/